h1 {
	text-align: center;
	font-family: Arial;
	font-size: 100%;
}

body {
	background-color: chocolate;
	font-size: 24px;
	font-family: Comic Sans MS;
}

.images{
	
}

.image1 {
	display: block;
	height: auto;
	width: auto;
	max-width: 400px;
	max-height: 300px;
	margin-left: auto;
	float: right;
}
div.figure {
  float: right;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}	

.image2 {
	max-width: 200px;
	
}

.obesity{
	color: red;
}

div.Chocolate-facts-1, div.chocolate-facts-header{
	text-align: center;
}

table{
	margin-left: auto;
	margin-right: auto;
}

div.Chocolate-facts-2{
	text-align: center;
}

/* unvisited link */
a#a1:link {
    color: black;
}


/* mouse over link 1*/
a#a1:hover {
    color: green;
}

/* unvisited link */
a#a2:link {
    color: black;
}


/* mouse over link 2*/
a#a2:hover {
	color: red;
}

div.chocolate-links{
	text-align: center;
}

audio{
	display: none;
}